<footer class="docs-footer" fxLayout="row" fxLayoutAlign="center">
  <div class="docs-footer-list">
    <div class="docs-footer-logo">
      <div class="footer-logo">
        <img class="docs-footer-angular-logo"
             src="assets/image/logo.png"
             alt="Angular icon">
      </div>
    </div>
    <div class="docs-footer-copyright">
      <div>
        <h1>Phuc's food Corp.</h1>
        <a>The best Vietnam delivery service</a>
        <span>Since 1975</span>
      </div>
    </div>
  </div>
</footer>
