<mat-toolbar color="primary">
  <button mat-button class="brand-name">
    <img src="assets/image/logo.png" style="height: 30px; vertical-align:baseline" alt="...">
    Phuc's Food
  </button>
  <mat-form-field appearance="fill">
    <input type="text"
           placeholder="Search for a street"
           [formControl]="control"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let street of filteredStreets | async" [value]="street">
        {{street}}
      </mat-option>
    </mat-autocomplete>
    <mat-select [formControl]="citySelect">
      <mat-option *ngFor="let city of cityList" [value]="city.id">{{city.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</mat-toolbar>
