#logo-facebook{
  color: darkslateblue;
  font-size: 20px;
}

#logo-google{
  color: orangered;
  font-size: 20px;
}

.small-para {
  font-size: 12px;
  font-style: italic;
}

.container-login {
  width: 400px;
}

.login-title {
  text-align: center;
  font-weight: bolder;
}
